/*Configuracion global*/
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    text-justify: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: italic;
}
/*Titulo*/
#Title1{
    text-align: center;
    font-size: 80px; 
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(41, 8, 8);
    color: aliceblue;
}
/*Barra de navergacion*/
#Nav1{
    background-image: linear-gradient(70deg,black,rgb(92, 50, 11),rgb(181, 87, 0),rgb(255, 255, 255),rgb(181, 87, 0),rgb(92, 50, 11), black);
    animation: bganimation ease-in-out 150s infinite;
    height: 50px;
    width: auto;
    position: relative;
    right: 1.2px;
    left: 1px;
    text-align: center;
    margin: 0;
    padding: 10px;
    padding-left: 10px;
    background-size: 400%;
}
@keyframes bganimation{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 10%;
    }
}
.a {
    float: left;
    list-style-type: none;
    text-align: center;
    position: relative;
    left: 1155px;
}
    
.a a {
    font-size: larger;
    display: block;
    color: rgb(240, 102, 64);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.a a:hover{
    color: rgb(150, 34, 34);
} 
/*Menu de presentacion*/ 
#Contenedor{
    background-color: aquamarine;/*color de prueba*/
    height: 400px;
    width: auto;
}

  