/*Configuracion global*/
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    text-decoration: none;
}
p{
    text-justify: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: italic;
}
/*Titulo*/
#Title1{
    text-align: center;
    font-size: 80px; 
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(41, 8, 8);
    color: aliceblue;
}
/*Barra de navergacion*/
#Nav1{
    background-image: linear-gradient(70deg,black,rgb(92, 50, 11),rgb(181, 87, 0),rgb(255, 255, 255),rgb(181, 87, 0),rgb(92, 50, 11), black);
    animation: bganimation ease-in-out 150s infinite;
    height: 50px;
    width: auto;
    position: relative;
    right: 1.2px;
    left: 1px;
    text-align: center;
    margin: 0;
    padding: 10px;
    padding-left: 10px;
    background-size: 400%;
    position: sticky;
}
@keyframes bganimation{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 10%;
    }
}
.a {
    float: left;
    list-style-type: none;
    text-align: center;
    position: relative;
    left: 1155px;
}
    
.a a {
    font-size: larger;
    display: block;
    color: rgb(240, 102, 64);         /*LINKS DE LA BARRA*/
    text-align: center;
    padding: 14px 16px;
  }
.a a:hover{
    color: rgb(150, 34, 34);
}
/*--------------------------------------------------------------------------------------*/ 
/*--------------------------------------------------------------------------------------*/

/*Menu de presentacion*/ 
#Contenedor{
    background-color: aquamarine;/*color de prueba*/
    height: 400px;
    width: auto;
}
/*Asia*/
.bott0n a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    width: 300px;
    height: 80px;
    position: relative;
    left: 500px;
    top: 50px;
    border-radius: 10%;
    background-color: white;
    color: black;
    opacity: 0.5;
}
/*Europa*/
.bott0n2 a{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    width: 300px;
    height: 80px;
    border-radius: 10%;
    position: relative;
    left: 940px;
    top: 150px;
    background-color: white;
    color: black;
    opacity: 0.5;
}
/*presentacion*/
.gif{
    background-color: aliceblue;
    width: 300px;
    height: 300px;
    position: relative;
    left: 1256px;
    bottom: 105px;
}
/*America*/
.bott0n3 a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    width: 300px;
    height: 80px;
    border-radius: 10%;
    position: relative;
    left: 1650px;
    bottom: 390px;
    background-color: white;
    color: black;
    opacity: 0.5;
}
/*Postres*/
.bott0n4 a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    width: 300px;
    height: 80px;
    border-radius: 10%;
    position: relative;
    left: 1661px;
    bottom: 280px;
    background-color: white;
    color: black;
    opacity: 0.5;
}
.bott0n a:hover{
    opacity: 1;
}
.bott0n2 a:hover{
    opacity: 1;
}
.bott0n3 a:hover{
    opacity: 1;
}
.bott0n4 a:hover{
    opacity: 1;
}

/*Menu de paises*/

#Asia{
    text-align: center;
    font-size: xx-large;
}
#Asia h2,h3{
    background-color: rgb(255, 127, 127);
    color: aliceblue;
}
.paisAsi{
    background-color: red;
    color: aliceblue;
}

/*JAPON*/

.Ramen{
    width: auto;
    height: 250px;
    background-color: aqua;
    padding: 10px;
}
.Ramen h4{
    size: 400px;
}
.Udon{
    width: auto;
    height: 250px;
    background-color: rgb(0, 172, 172);
    padding: 10px;
}
.Gyoza{
    width: auto;
    height: 250px;
    background-color: aqua;
    padding: 10px;
}

/*CHINA*/

.Dumpligs{
    width: auto;
    height: 250px;
    background-color: rgb(0, 172, 172);
    padding: 10px;
}
.SopaWonton{
    width: auto;
    height: 250px;
    background-color: aqua;
    padding: 10px;
}
.CharSiu{
    width: auto;
    height: 250px;
    background-color: rgb(0, 172, 172);
    padding: 10px;
}

/*EUROPA*/
#Europa{
    text-align: center;
    font-size: xx-large;
}
/*Italia*/
.Pizza{
    width: auto;
    height: 250px;
    background-color: aqua;
    padding: 10px;
}
.Lasaña{
    width: auto;
    height: 250px;
    background-color: rgb(0, 172, 172);
    padding: 10px;
}
.Fideos{
    width: auto;
    height: 250px;
    background-color: aqua;
    padding: 10px;
}
/*España*/
.Paella{
    width: auto;
    height: 250px;
    background-color: rgb(0, 172, 172);
    padding: 10px;
}
.Salmorejo{
    width: auto;
    height: 250px;
    background-color: aqua;
    padding: 10px;
}
.Gazpacho{
    width: auto;
    height: 250px;
    background-color: rgb(0, 172, 172);
    padding: 10px;
}

/*Imagenes*/
.imgA{
    position: relative;
    right: 1200px;
    bottom: 160px;
    border-radius: 100%;
}
.imgB{
    border-radius: 100%;
    position: relative;
    left: 1200px;
    bottom: 170px;
}
 