
p{
    text-justify: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: italic;
}
#Title1{
    text-align: center;
    font-size: 80px; 
    background-image: linear-gradient(50deg,black,green,yellow,orange,red,white);
    background-size: 400%;
    animation: bganimation ease-in-out 280s infinite;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
}
@keyframes bganimation{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 10%;
    }
}
#Nav1{
    background-color: rgb(0, 0, 0);
    height: 50px;
    width: auto;
    position: relative;
    left: 10px;
    text-align: center;
    margin: 0 10px 0 0;
    padding: 10px;
}
li{
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
a:hover{
    color: yellow;
}  
  